# Supabase Configuration
VITE_SUPABASE_URL=https://xaptojlprscspgctdqyf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhcHRvamxwcnNjc3BnY3RkcXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Nzk0MTksImV4cCI6MjA4OTE1NTQxOX0.AstJFfBJYKFtm1SPUR38uyq_U_-jpH6ivtv9Am8gc5E

# Optional: For development
VITE_HF_SPACE_URL=https://pushpendar-hrsid-ship-detection-sar.hf.space

# xxjxGoOCZyXJW6c0